body {
  margin: 0;
 background: lightblue !important;
	background-image:url(uploads/logo_sch.png);
	 background-repeat: repeat;
}

.main_menu
{
	color: red;
	font-size: 14px;
	font-color: black;

}

.navbar
{
	background-color: white;
	 color: red;
}


a:link {
    color: black;
}


a.active{
	color: red;
}

a.unvisited{
	color: yellow;
}

.nav nav-tabs ul{
	color: red;
}

.print3{
	margin: 5%; 
	font-weight: light;
	color: black;
	text-align: center;
}

table#particulars-table{
	   border: solid green;
    border-collapse: collapse;
}


table#t01 {
    width: 100%; 
    background-color: #f1f1c1;
}

@media print{
	button.close{
		display: none;
	}

	a{
		display: none;
	}

	button{
		display: none;
	}

	.flash {
		display: none;
	}
}

#rintContents{
		margin-left: 10px;
		border-style: solid;
		border-color: red;
	}