body {
  margin: 0;
  background-color: red;
	background-image:url(uploads/logo_sch.png);
	 background-repeat: repeat;
}

.main_menu
{
	color: red;
	font-size: 14px;
	font-color: black;

}

.navbar
{
	background-color: white;
	 color: red;
}


a:link {
    color: black;
}


a.active{
	color: red;
}

a.unvisited{
	color: yellow;
}

.nav nav-tabs ul{
	color: red;
}

.print3{
	margin: 5%; 
	font-weight: light;
	color: black;
	text-align: center;
}

 